.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    cursor: pointer;
    width: 3rem;
}

.sidebar .menu-other{
    display: block;
    margin-top: 2rem;
    cursor: pointer;
    width: 3rem;
}

.sidebar .user-icon{
    display: block;
    margin-top: 2rem;
    cursor: pointer;
    width: 3rem;
    /* circle */
    border-radius: 50%;
}

.sidebar .details-menu{
    display: block;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2.6rem;
    color: #282828e1;
    margin-left: 3px;

    background-color: transparent;
    border: 8px solid transparent;
}

.sidebar .details-menu-bg-green{
    display: block;
    margin-top: 2rem;
    margin-left: 3px;
    cursor: pointer;
    font-size: 2.6rem;
    color: white;

    background-color: #4F46E5;
    border: 8px solid #4F46E5;
    border-radius: 50%;
}

.sidebar .details-menu-bg-gre{
    display: block;
    margin-top: 2rem;
    margin-left: 12px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background-color: #4F46E5;
    
    border: 5px solid #4F46E5;
    border-radius: 50%;
}

.new-chat{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828e1;
    cursor: pointer;
}

.recent-entry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

/* New */

.icon{
    width: 1.5rem;
    margin-right: 10px;
}

.menu-other-active{
    margin-top: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .sidebar{
        display: none;
    }
}