@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.primary-color {
  color: #FF4B00;
}

.secondary-color {
  color: #a200ff;
}

.btn-bg-primary {
  /* background-image: linear-gradient(to right, #FF4B00, #aa3a0a); */
  background-color: #FF4B00;
}

.bg-white {
  background: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
}

.bg-dark {
  background: #1d0b0b;
}

.bg-nav-dark {
  background: rgba(70, 41, 41, 0.548);
}

